.card {
  position: relative;
  isolation: isolate;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardContent {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1.5em;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.cardContent > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.card:hover .cardContent,
.card:focus .cardContent,
.card:focus-within .cardContent {
  transform: translateX(0%);
  opacity: 1;
}

.cardTitle {
  color: var(--primary);
  font-size: clamp(2rem, 3vw, 2.4rem);
  font-weight: 400;
}

.cardDescription {
  font-weight: 300;
}

.cardTools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cardFooter {
  padding-top: 5rem;
}
