.card {
  position: relative;
  isolation: isolate;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardImage img {
  height: 100%;
  object-fit: cover;
}

.cardContent {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1.5em;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.cardContent > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.card:hover .cardContent,
.card:focus .cardContent,
.card:focus-within .cardContent {
  transform: translateX(0%);
  opacity: 1;
}

.cardTitle {
  color: var(--primary);
  font-size: clamp(2rem, 3vw + 1rem, 2.8rem);
  font-weight: 400;
}

.cardDescription {
  font-weight: 300;
}

.cardTools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.cardFooter {
  padding-top: 5rem;
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    position: relative;
  }
  .cardImage {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / -1 / 8;
    z-index: 0;
  }

  .cardImage img {
    height: 35.9rem;
  }

  .cardImage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    top: 0;
    left: 0;
    opacity: 0.4;
  }

  .cardContent {
    z-index: 2;
    width: 100%;
    grid-area: 1 / 5 / -1 / 13;
    background-color: #000000;
    padding: 0;
    border-radius: 5px;
  }

  .cardContent {
    padding: 1em;
  }

  .card:nth-of-type(2) .cardImage {
    grid-column: 6/13;
  }

  .card:nth-of-type(2) .cardContent {
    grid-column: 1/9;
  }

  .cardFooter {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
}
