.navDesktop {
  color: var(--light-text);
  display: none;
}

.navDesktopMenu {
  display: flex;
}

.navDesktopItem a {
  color: var(--light-text);
}

.navDesktopItem:last-of-type a {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.35em;
}

.navDesktopItem a:hover,
.navDesktopItem a:focus,
.navDesktopItem a:active {
  text-decoration: underline;
  color: var(--primary);
}

.navDesktopItem:not(:last-of-type) {
  margin-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  .navDesktop {
    display: block;
  }
}
