/* Utils */
.titleContainer {
  composes: sectionTitleContainer from '../styles/utils.module.css';
  margin-bottom: 2.5rem;
}

.sectionContainer {
  padding: 3rem 0;
  position: relative;
  composes: container from '../styles/utils.module.css';
}

/* Header */

.homeHeader {
  color: var(--light-text);
  border-bottom: 1px solid var(--primary);
}

.headerContent {
  margin-top: 5.5rem;
  grid-area: info;
}

.headerInformation {
  margin-top: 3rem;
  grid-area: info;
}

.headerInformation > *:not(:last-child) {
  margin-block-end: 2rem;
}

.headerImage {
  position: relative;
  isolation: isolate;
  z-index: 0;
  grid-area: image;
}

.headerImage::before {
  content: '';
  height: calc(40vw + 11rem);
  max-height: 45rem;
  width: 98%;
  transform: translate(1rem, 1.8rem);
  background-color: #141414;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  transition: 0.25s transform ease;
  border: 1px solid var(--primary);
}

.headerImage img {
  border-radius: 5px;
  object-fit: cover;
  width: 95%;
  height: calc(40vw + 10rem);
  max-height: 45rem;
  border: 1px solid var(--primary);
}

.headerImage:hover::before {
  transform: translate(0.5rem, 0.5rem);
}

.headerTitle {
  grid-area: 'title';
}

.headerTitleText {
  font-size: clamp(3.2rem, 5.6vw, 4.8rem);
  color: var(--primary);
}

.headerSubtitle {
  font-size: clamp(2.4rem, 4vw, 3.2rem);
  font-weight: 400;
  display: block;
  color: var(--light-text);
}

.headerIntro {
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  font-weight: 600;
}

.info {
  grid-area: icon;
}

.iconInfo {
  display: flex;
  gap: 0.8rem;
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
}

.iconInfo:first-of-type {
  margin-bottom: 0.5rem;
}

.headerDescription {
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
  grid-area: text;
}

/* About Me Styling */
.about {
  background-color: transparent;
  color: var(--light-text);
  border-bottom: 1px solid var(--primary);
}

.about h3 {
  font-size: clamp(2rem, 4.5vw, 2.4rem);
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.aboutTitle {
  composes: sectionTitle from '../styles/utils.module.css';
}

.aboutText {
  margin-bottom: 2rem;
}

.aboutText p {
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
}

.aboutText p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skillsTab {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  color: var(--dark-text);
  font-weight: 400;
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
  transition: transform 0.2s ease-in;
}

.skillsTab:focus,
.skillsTab:hover {
  transform: translateY(-5%);
}

/* showcase */
.showcase {
  background-color: var(--primary);
  color: var(--light-text);
}

.showcaseTitle {
  --titleUnderline: var(--secondary);
  composes: sectionTitle from '../styles/utils.module.css';
}

.showcaseProjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1rem;
}

/* other projects */

.projectsSection {
  background-color: transparent;
  color: var(--primary);
}

.projectsTitle {
  --titleUnderline: #d9d9d9;
  composes: sectionTitle from '../styles/utils.module.css';
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  grid-auto-rows: minmax(29rem, 1fr);
  gap: 1.5rem;
}

/* footer */
.footerSection {
  background-color: var(--primary);
  color: var(--light-text);
}

.footerContent > * {
  margin-bottom: 2rem;
}

.footerTitle {
  margin-bottom: 1rem;
}

.footerTitle h2 {
  font-weight: 400;
  font-size: clamp(2.4rem, 3.5vw, 2.6rem);
}

.footerTitle p {
  font-weight: 300;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}
.footerSocialList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerSocialItem {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.footerName {
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
}

.footerName::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .homeHeaderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'image info';
    gap: clamp(1.5rem, 6vmax, 10rem);
    padding-bottom: 3rem;
  }

  .sectionContainer {
    padding: 6rem 0;
  }

  .headerContent {
    margin: 0;
  }

  .headerImage,
  .headerImage img {
    margin: 0;
  }

  .headerInformation {
    /* padding-left: 2rem; */
    align-self: start;
    justify-self: start;
    margin: 0;
  }

  .headerInformation > *:not(:last-child) {
    margin-block-end: 2rem;
  }

  /* About Section */
  .aboutContent {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 2.5rem;
  }

  .skillsList {
    gap: 1.5rem;
  }

  .titleContainer {
    margin-bottom: 3.5rem;
  }
}
