/* Utils */
.titleContainer {
  composes: sectionTitleContainer from '../styles/utils.module.css';
  margin-bottom: 4.5rem;
}

.sectionContainer {
  padding-top: 3rem;
  position: relative;
  composes: container from '../styles/utils.module.css';
}

/* Header */

.homeHeader {
  color: var(--light-text);
  border-bottom: 1px solid var(--primary);
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeHeader .sectionContainer {
  width: min(88%, 95rem);
}

.headerImage::before {
  content: '';
  height: calc(29vw + 10rem);
  max-height: 45rem;
  width: 88%;
  transform: translate(2.1rem, 2rem);
  background-color: #141414;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  transition: transform 1s ease;
  border: 1px solid var(--primary);
}

.headerImage:hover::before,
.headerImage:focus-visible::before {
  transform: translate(0.5rem, 0.5rem);

  transition: 0.25s transform ease;
}

.headerImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  width: 88%;
  height: 100%;
  z-index: 5;
  opacity: 0.2;
  border-radius: 5px;
  transition: opacity 1s ease;
}

.headerImage:hover::after,
.headerImage:focus-visible::after {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.headerInformation {
  margin-top: 2.5rem;
}

.headerInformation > *:not(:last-child) {
  margin-block-end: 1rem;
}

.headerTitle {
  grid-area: 'title';
}

.headerTitleText {
  font-size: clamp(4rem, 7vw + 1rem, 5.6rem);
  color: var(--primary);
  line-height: clamp(3.8rem, 7vw, 7rem);
}

.headerSubtitle {
  font-size: clamp(3.2rem, 5vw + 1rem, 4.8rem);
  font-weight: 600;
  display: block;
  color: var(--light-text);
}

.headerIntro {
  font-size: clamp(1.6rem, 2.5vw + 1rem, 2.4rem);
  font-weight: 600;
}

.info {
  grid-area: icon;
}

.iconInfo {
  display: flex;
  gap: 0.8rem;
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
}

.iconInfo:first-of-type {
  margin-bottom: 0.5rem;
}

.headerDescription {
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
  grid-area: text;
}

.headerProjectLink {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.7em;
  display: block;
  margin-top: 3.2rem;
  width: fit-content;
}

/* About Me Styling */
.about {
  background-color: transparent;
  color: var(--light-text);
  border-bottom: 1px solid var(--primary);
}

.about h3 {
  font-size: clamp(2rem, 4.5vw, 2.4rem);
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.aboutTitle {
  composes: sectionTitle from '../styles/utils.module.css';
}

.aboutImage {
  border-radius: 5px;
  position: relative;
  isolation: isolate;
  width: min(90%, 40rem);
  margin: 0 auto;
  margin-bottom: 5rem;
}

.aboutImage img {
  border-radius: 5px;
  z-index: 1;
  height: 100%;
}

.aboutImage::before {
  content: '';
  height: 100%;
  width: 100%;
  transform: translate(2rem, 2rem);
  background-color: #141414;
  position: absolute;
  border-radius: 5px;
  border: 1px solid var(--primary);
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 1s ease;
}

.aboutImage:hover::before,
.aboutImage:focus-visible::after {
  transform: translate(1rem, 1rem);
  transition: transform 0.3s ease;
}

.aboutImage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  border-radius: 5px;
  z-index: 2;
  transition: opacity 1s ease;
}

.aboutImage:hover::after,
.aboutImage:focus-visible::after {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aboutContent > *:not(:last-child) {
  margin-bottom: 2rem;
}

.aboutText em {
  color: var(--primary);
}

.aboutText p {
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
}

.aboutText p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skillsTab {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  color: var(--dark-text);
  font-weight: 400;
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
  transition: transform 0.2s ease-in;
}

.skillsTab:focus,
.skillsTab:hover {
  transform: translateY(-5%);
}

/* showcase */
.showcase {
  background-color: var(--primary);
  color: var(--light-text);
}

.showcaseTitle {
  --titleUnderline: var(--secondary);
  composes: sectionTitle from '../styles/utils.module.css';
}

.showcaseProjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1rem;
}

/* other projects */

.projectsSection {
  background-color: transparent;
  color: var(--primary);
}

.projectsTitle {
  --titleUnderline: #d9d9d9;
  composes: sectionTitle from '../styles/utils.module.css';
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  grid-auto-rows: minmax(29rem, 1fr);
  gap: 1.5rem;
}

/* footer */
.footerSection {
  background-color: var(--primary);
  color: var(--light-text);
}

.footerContent > * {
  margin-bottom: 2rem;
}

.footerTitle {
  margin-bottom: 1rem;
}

.footerTitle h2 {
  font-weight: 400;
  font-size: clamp(2.4rem, 3.5vw, 2.6rem);
}

.footerTitle p {
  font-weight: 300;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}
.footerSocialList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerSocialItem {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.footerName {
  text-align: center;
  position: relative;
  margin-top: 4.5rem;
}

.footerName::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  /* header */
  .headerImage img {
    width: 66%;
  }

  .headerImage::before {
    width: 66%;
  }

  .headerImage::after {
    width: 66%;
  }

  .headerDescription {
    width: 80%;
  }

  /* footer */
  .footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .sectionContainer {
    padding: 6rem 0;
  }

  .headerContent {
    margin: 0;
  }

  .headerImage,
  .headerImage img {
    margin: 0;
  }

  .headerInformation {
    /* padding-left: 2rem; */
    align-self: start;
    justify-self: start;
    margin: 0;
  }

  .headerInformation > *:not(:last-child) {
    margin-block-end: 2rem;
  }

  /* About Section */
  .aboutContent {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 2.5rem;
  }

  .skillsList {
    gap: 1.5rem;
  }

  .titleContainer {
    margin-bottom: 3.5rem;
  }
}
