.projectPage {
  composes: container from '../styles/utils.module.css';
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.projectHead {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projectTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projectTitle {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}

.projectLinks {
  display: flex;
  gap: 1rem;
}

.projectTools p {
  color: var(--light-text);
  font-size: clamp(2rem, 2.5vw + 1rem, 2.4rem);
  font-weight: 600;
}

.projectTools ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.projectTools ul li {
  color: var(--primary);
  font-size: clamp(1.6rem, 3.5vw + 1rem, 1.8rem);
}

.projectImageContainer {
  position: relative;
  border: 1px solid var(--primary);
  width: -moz-fit-content;
  width: fit-content;
}

.projectImageContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid var(--primary);
  transform: translate(1.5rem, 1.5rem);
}

.projectImage {
  object-fit: cover;
}

.projectGif {
  display: none;
  object-fit: cover;
  object-position: left top;
}

.projectGif[src*='weather'] {
  object-position: bottom;
}

/* Project Text */
.projectContent {
  color: var(--light-text);
  padding-bottom: 2.5rem;
}

.projectContent p,
.projectContent li,
.projectContent p code,
.projectContent li code {
  font-size: clamp(1.6rem, 1vw + 1rem, 1.8rem);
}

.projectContent p code,
.projectContent li code {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0.2em;
}

.projectContent [id]::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.projectContent a:hover {
  text-decoration: underline;
}

.projectContent > * {
  margin-block-start: 2rem;
}

.projectContent h2,
.projectContent h3,
.projectContent h4,
.projectContent h5,
.projectContent h6 {
  color: var(--primary);
}

.projectContent h2 {
  margin-block-start: 5rem;
  font-size: 3.2rem;
}

.projectContent h3 {
  font-size: 2.4rem;
}

.projectContent h2:first-of-type {
  margin-block-start: 8rem;
}

.projectContent h2 + * {
  margin-block-start: 0.2rem;
}

.projectContent h3 + *,
.projectContent h4 + *,
.projectContent h5 + *,
.projectContent h6 + * {
  margin-block-start: 0.5rem;
}

.projectContent h4 {
  font-weight: 400;
  font-size: 2rem;
}

.projectContent h5 {
  font-size: 1.8rem;
  font-weight: 400;
}

.projectContent code,
.projectContent pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.4rem;
}

.projectContent pre {
  background-color: var(--secondary);
  padding: 1.5em;
  border-radius: 5px;
}

.projectContent ul {
  list-style: disc;
  padding-left: 3rem;
}

.projectContent ol {
  list-style: decimal;
  padding-left: 3rem;
}

.projectContent ol li {
  padding-left: 0.8rem;
}

.projectContent ul ul,
.projectContent ol ol,
.projectContent ul ol,
.projectContent ol ul {
  margin-block-start: 1rem;
}

.projectContent ul li,
.projectContent ol li {
  margin-block-start: 0.5rem;
}

/* tablet styles */
@media screen and (min-width: 768px) {
  .projectHead {
    gap: 1.5rem;
  }
  .projectImage {
    display: none;
  }

  .projectGif {
    display: block;
  }

  .projectTools {
    order: 0;
    margin: 0;
  }

  .projectTools ul {
    width: 60%;
  }

  .projectTitleInfo {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
}
