.projectPage {
  composes: container from '../styles/utils.module.css';
  margin-top: 1rem;
}

.projectHead {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projectTitleInfo {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.projectTitle {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
}

.projectLinks {
  display: flex;
  gap: 1rem;
}

.projectTools {
  order: 1;
  margin-top: 1.5rem;
}

.projectTools p {
  color: var(--light-text);
  font-size: clamp(2rem, 2.5vw + 1rem, 2.4rem);
  font-weight: 600;
}

.projectTools ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.projectTools ul li {
  color: var(--primary);
  font-size: clamp(1.6rem, 3.5vw + 1rem, 1.8rem);
}

.projectImageContainer {
  position: relative;
  border: 1px solid var(--primary);
  width: -moz-fit-content;
  width: fit-content;
}

.projectImageContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid var(--primary);
  transform: translate(1.5rem, 1.5rem);
}

.projectImage {
  object-fit: cover;
}

.projectGif {
  display: none;
  object-fit: cover;
}

/* tablet styles */
@media screen and (min-width: 768px) {
  .projectHead {
    gap: 1.5rem;
  }
  .projectImage {
    display: none;
  }

  .projectGif {
    display: block;
  }

  .projectTools {
    order: 0;
    margin: 0;
  }

  .projectTools ul {
    width: 60%;
  }

  .projectTitleInfo {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
}
