.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
  background-color: var(--background);
  position: relative;
  width: 100%;
  z-index: 2;
}
.navBarContainer {
  composes: container from '../../styles/utils.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileNavMenu {
  --borderColor: rgba(228, 228, 228, 0.3);
  background-color: var(--background);
  position: absolute;
  top: 4.3em;
  left: 0;
  width: 100%;
  display: none;
  border-top: 1px solid var(--borderColor);
  box-shadow: 0 6px 50px -5px rgba(0, 0, 0, 0.5);
}

.showMenu {
  display: block;
}

.mobileNavList {
  color: var(--light-text);
}

.mobileNavItem {
  font-size: 1.4rem;
  font-family: inherit;
  text-align: right;
  padding: 1em;
  padding-right: 0;
  border-bottom: 1px solid var(--borderColor);
}

.mobileNavItemContainer {
  composes: container from '../../styles/utils.module.css';
}

.mobileNavItem a {
  color: var(--light-text);
}

.mobileNavItem:last-of-type a {
  color: var(--primary);
}

.mobileNavItem a:focus,
.mobileNavItem a:active {
  color: var(--primary);
}

.showMenuFixed {
  display: fixed;
  top: 0;
  left: 0;
}

.mobileNavButton {
  background: transparent;
}

.navDesktop {
  color: var(--light-text);
  display: none;
}

.navDesktopMenu {
  display: flex;
}

.navDesktopItem a {
  color: var(--light-text);
}

.navDesktopItem:last-of-type a {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.35em;
}

.navDesktopItem a:hover,
.navDesktopItem a:focus,
.navDesktopItem a:active {
  text-decoration: underline;
  color: var(--primary);
}

.navDesktopItem:not(:last-of-type) {
  margin-right: 1.6rem;
}

@media screen and (min-width: 768px) {
  .mobileNavMenu {
    display: none;
  }

  .mobileNav {
    display: none;
  }

  .navDesktop {
    display: block;
  }

  .mobileNavButton {
    display: none;
  }
}
